header {
    display: flex;
    background-color: #252a34;
    color: #ffff;
  }
  
  .title {
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .btn {
    font-size: large;
    font-weight: 700;
    margin: 10px;
  }
  li{
    margin-top: 10px;
  }
  .main{padding: 100px;}
  @media (max-width: 800px) {
    .main{
      margin-left: -60px;
      padding: -100px;
    }
  
  }
  