<header>
    <button mat-raised-button class="btn" (click)="goBack()">&nbsp;Back</button>
    <h1 class="title">Credits to The Owner Of Videos</h1>
  </header>
<div class="main">
  <div>

    <h1>ABC ALPHABET</h1>
    <ul>
      <li>Mega Fun Kids Songs & Nursery Rhymes. (2017, December 19). ABC Song: Learn ABC
        Alphabet for Children: Education ABC Nursery Rhymes [Video]. YouTube.
        <a href="https://youtu.be/ezmsrB59mj8">https://youtu.be/ezmsrB59mj8</a></li>

       <li>Kiddos World TV. (2018, August 1). Learning ABC Letters and Basic English Vocabulary
        [Video]. YouTube.<a href="https://youtu.be/drlIUqRYM-w">https://youtu.be/drlIUqRYM-w</a> </li> 

        <li>  Toddler Fun Learning. (2018, August 24). Learn Dinosaur Names for Kids | Dancing
        Dinosaur Alphabet | Toddler Fun Learning [Video]. YouTube.<a href="https://youtu.be/0XP6rlhupaw">https://youtu.be/0XP6rlhupaw</a>
        </li>

       <li>  Kids TV - Nursery Rhymes And Baby Songs. (2016, January 11). ABC Song | Alphabets
        Song For Children | Kindergarten Videos by Kids Tv [Video]. YouTube.<a href="https://youtu.be/cSKj4Do1PbI"> https://youtu.be/cSKj4Do1PbI</a>
       </li>
        <li>
         DJC Kids. (2012, June 29). ABC Karaoke! Fun Animated Video for Kids! [Video].
        YouTube.<a href="https://youtu.be/E7KyWrDgJ3A">https://youtu.be/E7KyWrDgJ3A</a> </li>
        <li>
         Kiddos World TV. (2021, February 5). ABC Alphabet Video Chart - Learning The Letters
        and English Vocabulary for Preschool [Video]. YouTube.<a href="https://youtu.be/y-x1yY4fJQE">https://youtu.be/y-x1yY4fJQE</a> </li>
        <li>
         Cocomelon - Nursery Rhymes. (2014, May 1). ABC SONG | ABC Songs for Children - 13
        Alphabet Songs & 26 Videos [Video]. YouTube.<a href="">https://youtu.be/_UR-l3QI2nE</a> https://youtu.be/_UR-l3QI2nE</li>
        <li>
         ChuChu TV Nursery Rhymes & Kids Songs. (2020, January 14). ABC Alphabet &
        Numbers for Kids - ChuChu TV Learning Songs for Kids [Video]. YouTube.<a href="https://youtu.be/UtxaRodBVf8">https://youtu.be/UtxaRodBVf8</a>
       </li>
    </ul>
  </div>
  <div>
    <h1>NUMBERS</h1>
    <br><br>
    <ul>
      <li>
        Busy Beavers - Kids Learn ABCs 123s & More. (2013, October 20). "Numbers Counting
        to 10 Collection Vol. 1" - Kids Learn to Count, Baby Toddler Songs, Nursery Rhymes
        [Video]. YouTube. <a href="https://youtu.be/glkQwKA5_PU">https://youtu.be/glkQwKA5_PU</a> 
      </li>

      <li>
        Noodle Kidz. (2020, June 12). Basic Math Addition For Kids | Noodle Kidz Pre-K and
        Kindergarten Educational Video [Video]. YouTube.<a href="https://youtu.be/mjlsSYLLOSE ">https://youtu.be/mjlsSYLLOSE </a> 
      </li>
      <li>
        Kids Academy. (2018, October 15). Learn Numbers up to 20 for Preschool and
        Kindergarten | Counting for Kids | Kids Academy [Video]. YouTube.<a href="https://youtu.be/ZJEIKkPXirg">https://youtu.be/ZJEIKkPXirg</a>
 
      </li>
      <li>
        Smile and Learn - English. (2019, July 11). Subtraction for kids - Learn how to subtract -
Mathematics for kids - [Video]. YouTube.<a href="https://youtu.be/qM7B2nwpV1M">https://youtu.be/qM7B2nwpV1M</a> 
      </li>
      <li>
        Homeschool Pop. (2018, February 18). Multiplication for Kids [Video]. YouTube.<a href="https://youtu.be/eW2dRLyoyds">https://youtu.be/eW2dRLyoyds</a>
       
      </li>
      <li>
        Smile and Learn - English. (2020, June 25). Addition and Subtraction with Dinosaurs -
        Math for Kids - Math Operations [Video]. YouTube. <a href="https://youtu.be/igcoDFokKzU ">https://youtu.be/igcoDFokKzU </a> 
      </li>
      <li>
        Smile and Learn - English. (2020, June 25). Addition and Subtraction with Dinosaurs -
        Math for Kids - Math Operations [Video]. YouTube.<a href="https://youtu.be/igcoDFokKzU">https://youtu.be/igcoDFokKzU</a> 
      </li>
      <li>
        Bob The Train - Nursery Rhymes & Cartoons for Kids. (2019, November 29). Numbers
Song | Kids Learn to Count 1 to 10 | Bob the Train | Learning Videos for Children [Video].
YouTube.<a href="https://youtu.be/73iWkzydH7g">https://youtu.be/73iWkzydH7g</a> 
      </li>

    </ul>
  </div>

  <div>
    <h1>NURSERY</h1>
    <br><br>
    <ul>

      <li>
        Super Simple Songs - Kids Songs. (2020, January 16). My Happy Song | + More Kids
        Songs | Super Simple Songs [Video]. YouTube. <a href="https://youtu.be/RE29EUeJAb0">https://youtu.be/RE29EUeJAb0</a> 
      </li>
      <li>
        Toddler Fun Learning. (2015, May 1). Incy Wincy Spider and More Nursery Rhymes for
        children! | Children Songs | Toddler Fun Learning [Video]. YouTube.<a href=" https://youtu.be/buE6l32rCHo"> https://youtu.be/buE6l32rCHo</a> 
       
      </li>
      <li>
        Kidsberry - Nursery Rhymes ♫. (2021, January 28). Rain Rain Go Away + More Nursery
        Rhymes & Baby Songs – Kidsberry [Video]. YouTube.<a href="https://youtu.be/5jNAMLB0heQ"> https://youtu.be/5jNAMLB0heQ</a> 
      </li>
      <li>
        Junior Squad - Nursery Rhymes & Kids Songs. (2018, September 15). Best Nursery
        Rhymes Collection | Songs For Children By Junior Squad | Kids Rhyme [Video]. YouTube.<a href="https://youtu.be/X6rzXuQMASY">  https://youtu.be/X6rzXuQMASY</a> 
      
      </li>
      <li>
        Videogyan Nursery Rhymes - Kids Songs & Cartoons. (2014, September 27). Ultimate
        Nursery Rhymes Collection - Non-Stop 120 Min Nursery Rhymes For Children [Video].
        YouTube.<a href="https://youtu.be/1Ue1qsu4yxI">https://youtu.be/1Ue1qsu4yxI</a>  
      </li>
      <li>
        Blippi - Educational Videos for Kids. (2021, December 21). Blippi Wonders | Solar System
        Planets! | Blippi Animated Series | Cartoons For Kids [Video]. YouTube.<a href=" https://youtu.be/qfnceI0H-yc"> https://youtu.be/qfnceI0H-yc</a> 
       
      </li>
      <li>
        ChuChu TV Nursery Rhymes & Kids Songs. (2014, October 22). Twinkle Twinkle Little
        Star and Many More Videos | Popular Nursery Rhymes Collection by ChuChu TV [Video].
        YouTube.<a href="https://youtu.be/Rj2QkLaaj2E">https://youtu.be/Rj2QkLaaj2E</a> 
      </li>
      <li>
        ChuChu TV Nursery Rhymes & Kids Songs. (2015, June 24). ABC Song and Many More
        Nursery Rhymes for Children | Popular Kids Songs by ChuChu TV [Video]. <a href="">https://youtu.be/r8iGnwD8i9I</a> YouTube.
    s
      </li>
      

    </ul>
  </div>

  <div>
    <h1>STORY TELLING</h1>
    <br><br>
    <ul>
      <li>
        Fairy Tales and Stories for Kids. (2020, April 16). The Lion and the Mouse | Bedtime
        Stories for Kids in English | Storytime [Video]. YouTube. <a href="https://youtu.be/23_mESawEEc">https://youtu.be/23_mESawEEc</a> 
      </li>
      <li>
        Kids Planet Filipino. (2019, August 29). Ang Langgam at ang tipaklong | Kwentong
        pambata | Mga kwentong pambata | Tagalog fairy tales [Video]. YouTube.<a href=" https://youtu.be/LeiOhsORPUo"> https://youtu.be/LeiOhsORPUo</a>
       
      </li>
      <li>
        Sartoons. (2021, March 17). Si Pagong At Ang Matsing | Kwentong Alamat | Tagalog Story
        [Video]. YouTube.<a href="https://youtu.be/UFHlma3JALQ">ttps://youtu.be/UFHlma3JALQ</a> 
      </li>
      <li>
        Fairy Tales and Stories for Kids. (2020, October 17). Pinocchio Cartoon | Fairy Tales and
        Bedtime Stories for Kids | Storytime [Video]. YouTube.<a href="https://youtu.be/3OpOFTTTlrA">https://youtu.be/3OpOFTTTlrA</a> 
      </li>
      <li>
        Fairy Tales and Stories for Kids. (2021, December 17). Red Shoes and The Duck | Bedtime
        Stories for Kids in English | Fairy Tales [Video]. YouTube.<a href="https://youtu.be/l5FKpT7QxM0">https://youtu.be/l5FKpT7QxM0</a>
        
      </li>
      <li>
        Geethanjali Kids - Rhymes and Stories. (2017, March 17). The Ugly Duckling | Full Story
        | Fairytale | Bedtime Stories For Kids | 4K UHD [Video]. YouTube.<a href=" https://youtu.be/OSWLxj4kTKA">https://youtu.be/OSWLxj4kTKA</a>
        
      </li>
      <li>
        T-Series Kids Hut. (2016, July 1). 11 Bedtime Stories For Kids | Fairy Tales For Children
        In English | Story Collection [Video]. YouTube.<a href="https://youtu.be/N8HEbKzlgYU">https://youtu.be/N8HEbKzlgYU</a> 
      </li>
      <li>
        T-Series Kids Hut. (2016, February 28). SHORT STORIES FOR KIDS (ONE HOUR +) |
        THE FOX WITHOUT TAIL & MORE | 20+ MORAL STORIES FOR KIDS. YouTube
        [Video].<a href="https://youtu.be/wYwxYYbcsaI">https://youtu.be/wYwxYYbcsaI</a>
    </ul>
  </div>
</div>