<nav id="nav-sidebar">
  <div class="div-add-item">
    <button (click)="openModal()">Add New Menu &nbsp;<i class="fas fa-plus"></i></button>
  </div>
  <div id="nav-sidebar-list">
  </div>
  <!-- ---------------------- MODALS ----------------------------- -->
  <!-- Add Product Modal -->
  <div *ngIf = "openAddModal" class="modal" (submit)="openModalIng($event)">
    <div class="modal-content">
      <!-- Onclick close modal -->
      <button (click)="closeModal()" class="close-modal"><i class="fas fa-times"></i></button> 
        <h2>Add New Menu</h2>
        <hr>
        <!-- (1) Input added product name -->
          <div *ngFor="let id of id">
            <form id="form-add-product" ngNativeValidate>
              <input type="hidden" id="prod_id" name="prod_id" value="{{ id.product_id}}">
              <input  id="input_product_name" name="input_product_name" class="modal-input" type="text" 
              placeholder="Name ..." required>
              <br>
              <br>
              <br>
              <input id="input_product_price" name="input_product_price" class="modal-input" type="number" 
              placeholder="Price" required>
              <br>
              <br>
              <br>
              <input id="input_product_type" name="input_product_type" class="modal-input" type="text" 
              placeholder="Type" required>
              <br>
              <div class="button-mid">
                <!-- close add Product Modal and Opens Add Ingredient Modal -->
                <button type="submit" class="modal-button">Next&nbsp; <i class="fas fa-forward"></i></button>
            </div>
            </form>
        </div>
    </div>
  </div>
  <!-- --------------------------------------------------------- -->
  <!-- Add Ingredient Modal -->
  <div *ngIf = "openAddModalIng" class="modal">
    <div class="modal-content">
      <div class="content-left">
        <div class="h-20">
          <!-- (2) Output the product name from Input added -->
          <h2>Add {{ inputProductArray.product_name }} Ingredients</h2>
        </div>
        <!-- (3) Input an Ingredient -->
        <input [(ngModel)]="ingredientString" id="input-product-name" 
        class="modal-input" type="text" placeholder="Add Ingredient ..." required>
        <br>
        <br>
        <input [(ngModel)]="ingredientNumber" id="input-product-qty" 
        class="modal-input" type="number" placeholder="Add Ingredient Qty ..." required>
        <br>
        <br>
        <div class="button-mid">
          <!-- (4) Onclick push the Input to an Array -->
          <button (click)="addIng()" class="modal-button-add" type="button">Add Ingredient&nbsp; <i class="fas fa-plus"></i></button>
        </div>
      </div>
      <div class="h-20">
        <h4>{{ inputProductArray.product_name }} Ingredients Added List</h4>
      </div>
      <div class="content-right">
        <table>
           <!-- (5) Output the Array -->
          <tr *ngFor="let sample of arraySample; let i = index;">
             <!-- (6) Output the Array -->
            <td class="td-10"><div class="li-50">{{ sample }}</div></td>
            <td><button (click)="removeIng(i)" type="button" class="card-delete-button"><i class="fas fa-trash-alt"></i>&nbsp; Delete</button></td>
          </tr>
        </table>
      </div>
      <div class="content-full">
        <div class="button-mid">
          <br>
          <br>
          <button type="button" (click)="backToAdd()" class="modal-button" type="button">Back</button>
          <button type="submit" (click)="finishAdd()" class="modal-button" type="button">Finish</button>
        </div>
      </div>
    </div>
  </div>
  <!-- --------------------------------------------------------- -->
</nav>
