<div class="con">
  <div class="flex-column">
    Name:
    <h1>{{ module.firstname }} {{ module.lastname }}</h1>
    <br /><br />
    Activity:
    <a [href]="file" download="{{ module.file_name }}">{{
      module.file_name
    }}</a>
    <br /><br />
    <!-- Score:
    <input [(ngModel)]="module.score" type="number" /> -->
    <select name="score" id="score" [(ngModel)]="module.score">
      <option value="1">Bad</option>
      <option value="2">Good</option>
      <option value="3">Very Good</option>
      <option value="4">Excellent</option>
    </select>
    <br /><br />
      <!-- Total Score:
      <h2>{{ module.score }} / {{ module.total_score }}</h2> -->
    <button (click)="updateCompletedScore()" class="red">
      <mat-icon>check_circle</mat-icon> Save
    </button>
  </div>
</div>
