<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" opened="true">
    <div class="flex-row end-obj">
      <button class="button-44 none" (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="center">
      <img
        src="../../assets/img/signup/user.jpg"
        *ngIf="!profile.img"
        class="img"
      />
      <img
        appLazyLoad
        src="{{ profile.img }}"
        *ngIf="profile.img"
        class="img"
      />
    </div>
    <div class="user">Hello {{ profile.firstname }}!</div>
    <div class="profile">
      <button (click)="toStudent()" class="red">
        <mat-icon>home</mat-icon>&nbsp;Dashboard
      </button>
      <button (click)="toActivities()" class="red">
        <mat-icon>list</mat-icon>&nbsp;Activities
      </button>
      <button (click)="toAnnouncement()" class="red-active">
        <mat-icon>announcement</mat-icon>&nbsp;Announcement
      </button>
      <button (click)="toSoe()" class="red">
        <mat-icon>calendar_today</mat-icon>&nbsp;SOE
      </button>
      <button (click)="openSettings()" class="red">
        <mat-icon>settings</mat-icon>&nbsp;Settings
      </button>
    </div>
    <div class="logout" (click)="openLogout()">
      <button class="blue">&nbsp;Logout</button>
    </div>
  </mat-drawer>
  <header>
    <button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <h1>Announcements</h1>
  </header>

  <div class="con">
    <div class="row-2">
      <div class="flex-column">
        <div>
          <div class="flex-column">
            <div>
              <img class="banner" src="assets/img/student/announcement.png" />
            </div>
          </div>
          <mat-card *ngIf="!announcements">
            <h2>
              <mat-icon> cancel_presentation</mat-icon>&nbsp;No Announcements!
            </h2>
          </mat-card>
          <mat-card
            id="announcement"
            *ngFor="let announcement of announcements"
          >
            <div class="flex-row con">
              <div class="img-container">
                <img
                  *ngIf="announcement.img"
                  class="announce-img"
                  src="{{ announcement.img }}"
                  alt=""
                />
                <img
                  *ngIf="!announcement.img"
                  class="announce-img"
                  src="https://i.pinimg.com/originals/38/6b/ba/386bbacc541b90e6576e3d25df506272.png"
                  alt=""
                />
              </div>
              <div class="con-1">
                <div class="flex-column">
                  <h2>{{ announcement.title }}</h2>
                  <br />
                  <h3>{{ announcement.description }}</h3>
                  <br />
                  <h4 *ngIf="announcement.date">{{ announcement.date }}</h4>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>
