<head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
  </style>
</head>

<mat-drawer-container autosize>
  <audio *ngIf="staticUrlArray" autoplay="" src="./assets/bgmusic.mp3"></audio>
  <mat-drawer #drawer mode="side" opened="true">
    <div class="flex-row end-obj">
      <button class="button-44 none" (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="center">
      <img
        src="assets/img/student/no-pic-user.png"
        *ngIf="!profile.img"
        class="img"
      />
      <img
        appLazyLoad
        src="{{ profile.img }}"
        *ngIf="profile.img"
        class="img"
      />
    </div>

    <div class="user" *ngIf="profile.firstname">
      Hello {{ profile.firstname }}!
    </div>
    <div class="user" *ngIf="!profile.firstname">Loading..</div>

    <div class="profile">
      <button (click)="toStudent()" class="red">
        <mat-icon>home</mat-icon>&nbsp; Home
      </button>
      <button (click)="toActivities()" class="red">
        <mat-icon>list</mat-icon>&nbsp; Activity
      </button>
      <button (click)="toAnnouncement()" class="red-active">
        <mat-icon>announcement</mat-icon>&nbsp; News
      </button>
      <button (click)="toSoe()" class="red">
        <mat-icon>calendar_today</mat-icon>&nbsp; Soe
      </button>
      <button (click)="openSettings()" class="red">
        <mat-icon>settings</mat-icon>&nbsp; Settings
      </button>
    </div>
    <div class="logout" (click)="openLogout()">
      <button class="blue">&nbsp;Logout</button>
    </div>
  </mat-drawer>
  <header>
    <button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <h1>Announcements</h1>
  </header>
  <img class="banner" src="assets/img/announcement/ann.png" />

  <div class="con scroll">
    <div class="row-2">
      <div class="flex-column">
        <div>
          <img
            class="loading"
            *ngIf="isLoading"
            src="assets/img/loading/loading.gif"
          />
          <h2 *ngIf="isLoading">Loading ...</h2>
          <mat-card *ngIf="isEmpty">
            <h2>
              <mat-icon> cancel_presentation</mat-icon>&nbsp;No Announcements!
            </h2>
          </mat-card>
          <mat-card
            id="announcement"
            *ngFor="let announcement of announcements"
          >
            <div class="flex-row con">
              <div class="img-container">
                <img
                  *ngIf="announcement.img"
                  class="announce-img"
                  src="{{ announcement.img }}"
                  alt=""
                />
                <img
                  *ngIf="!announcement.img"
                  class="announce-img"
                  src="assets/img/announcement/announcement-none.png"
                  alt=""
                />
              </div>
              <div class="con-1">
                <div class="flex-column">
                  <h2 class="anno">{{ announcement.title }}</h2>
                  <br />
                  <h3>{{ announcement.description }}</h3>
                  <br />
                  <h4 *ngIf="announcement.date">{{ announcement.date }}</h4>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>
