<mat-drawer-container>
 
    <header>
      <button mat-raised-button class="btn" (click)="goBack()">&nbsp;Back</button>
      <h1 class="title">Alphabet </h1>
    </header>
    <div class="flex-column center">
      <div class="flex-row">
        <img id="hide" src="assets/img/alphabet/alphabet.png" alt="" />
        
        
      </div>
    </div>
 <div class="con">
    <div class="main">
      <mat-card class="card">
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/ezmsrB59mj8"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card class="card">
        <iframe
          src="https://www.youtube.com/embed/drlIUqRYM-w"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card class="card">
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/0XP6rlhupaw"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card class="card">
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/cSKj4Do1PbI"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
    </div>
<br>
    <div class="main">
      <mat-card class="card">
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/E7KyWrDgJ3A"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card class="card">
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/y-x1yY4fJQE"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card class="card">
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/_UR-l3QI2nE"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card class="card">
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/UtxaRodBVf8"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
    </div>
  </div>
</mat-drawer-container>
