.main {
  display: flex;
  justify-content: space-between;

}


mat-card {
  width: fit-content;
}

h1,
h2,
h3,
h4,
p,
button,
div {
  font-family: 'Bubblegum Sans', cursive;
}

#hide {
  width: 100em;
  border-radius: 20px;
}

header {
  display: flex;
  background-color: #252a34;
  color: #ffff;
}

.title {
  margin-top: 20px;
  margin-left: 20px;
}

.btn {
  font-size: large;
  font-weight: 700;
  margin: 10px;
}
.card{
 background-color: #c2bfbf;
}

footer{
  display: flex;
  background-color: #252a34;
  color: #ffff;
 justify-content: center;
}
.titlefooter{
  text-align: center;
}
.terms:hover{
  padding: 20px;
  color: rgb(0, 50, 187);
  cursor: pointer;
}
.banner{
  width: fit-content;
  float: right;
  border-top-left-radius: 80px;
}
@media (max-width: 800px) {
  img {
    width: 100%;
    height: 100%;
  }
  #hide {
    display: none;
  }
  .con{
    display: block;
}
.main{
  
    display: block;
}

}
