<head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
  </style>
</head>
<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" opened="true">
    <div class="flex-row end-obj">
      <button class="button-44 none" (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="center">
      <img src="assets/img/student/no-pic-user.png" *ngIf="!profile.img" />
      <img appLazyLoad src="{{ profile.img }}" *ngIf="profile.img" />
    </div>

    <div class="user" *ngIf="profile.firstname">
      Hello {{ profile.firstname }}!
    </div>
    <div class="user" *ngIf="!profile.firstname">Loading..</div>

    <div class="profile">
      <button (click)="toTeacher()" class="red">
        <mat-icon>home</mat-icon>&nbsp; Home
      </button>
      <button (click)="toClasses()" class="red">
        <mat-icon>home</mat-icon>&nbsp; Classes
      </button>
      <button (click)="toMasterList()" class="red">
        <mat-icon>list</mat-icon>&nbsp; Master List
      </button>
      <button (click)="toEnrollees()" class="red">
        <mat-icon>list</mat-icon>&nbsp; Enrollees
      </button>
      <button (click)="toAnnouncementPost()" class="red">
        <mat-icon>announcement</mat-icon>&nbsp; Announcement
      </button>
      <button class="blue">
        <mat-icon> attach_file</mat-icon>&nbsp; Post Activity
      </button>
      <button (click)="toScore()" class="red">
        <mat-icon>score</mat-icon>&nbsp; Scores
      </button>
    </div>

    <div class="logout">
      <button (click)="openLogout()" class="blue">Logout</button>
    </div>
  </mat-drawer>
  <header>
    <button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <h1>Activities</h1>
    &nbsp;
    <h1 class="dates">{{ Date | date: "medium" }}</h1>
  </header>
  <div class="col">
    <div class="con">
      <button (click)="openAddActivity()" class="blue-save" type="submit">
        <mat-icon inline="true">add</mat-icon>&nbsp;Add Activity
      </button>

      <div class="flex-column">
        <div class="con">
          <h1><mat-icon>list</mat-icon>&nbsp;List of Activities</h1>
        </div>

        <img
          class="loading"
          *ngIf="isLoading"
          src="assets/img/loading/loading.gif"
        />
        <h2 *ngIf="isLoading">Loading ...</h2>

        <mat-card *ngIf="isEmpty">
          <h2>
            <mat-icon> cancel_presentation</mat-icon>&nbsp;No modules created
            yet!
          </h2>
        </mat-card>
        <mat-card
          *ngFor="
            let module of teacher_modules
              | paginate
                : {
                    itemsPerPage: 10,
                    currentPage: page,
                    totalItems: total
                  }
          "
        >
          <div class="flex-row">
            <h2 style="margin-right: auto">
              Activity Title: {{ module.title }}
            </h2>
            <button (click)="viewActivity(module)" class="red-view">
              <mat-icon>remove_red_eye</mat-icon> &nbsp; view
            </button>
          </div>
        </mat-card>
        <div class="center" *ngIf="teacher_modules">
          <pagination-controls
            *ngIf="total > 10"
            class="my-pagination"
            (pageChange)="page = $event"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>
