<mat-card>
  <h1>Change Password</h1>
  <label for="old-password">Old Password</label>
  <input
    (input)="checkPassword()"
    [(ngModel)]="password"
    id="old-password"
    name="old-password"
    type="text"
  />
  <h4 *ngIf="wrong_password" class="wrong">Wrong Password</h4>
  <h4 *ngIf="correct_password" class="right">Go!</h4>
  <label for="password">New Password</label>
  <input [(ngModel)]="new_password" id="password" name="password" type="text" />
  <button (click)="changePassword()" class="red">
    <mat-icon>check_circle</mat-icon>&nbsp;Save
  </button>
</mat-card>
