<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" opened="true">
    <div class="flex-row end-obj">
      <button class="button-44 none" (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="center">
      <img src="assets/img/signup/user.jpg" *ngIf="!profile.img" />
      <img appLazyLoad src="{{ profile.img }}" *ngIf="profile.img" />
    </div>

    <div class="user">Hello {{ profile.firstname }}!</div>

    <div class="profile">
      <button (click)="toTeacher()" class="red">
        <mat-icon>home</mat-icon>&nbsp;Dashboard
      </button>
      <button (click)="toMasterList()" class="red">
        <mat-icon>list</mat-icon>&nbsp;Master List
      </button>
      <button (click)="toEnrollees()" class="red">
        <mat-icon>list</mat-icon>&nbsp;Incoming Enrollees
      </button>
      <button class="blue">
        <mat-icon>announcement</mat-icon>&nbsp;Post announcement
      </button>
      <button (click)="toActivityPost()" class="red">
        <mat-icon> attach_file</mat-icon>&nbsp;Post Activity
      </button>
      <button (click)="toScore()" class="red">
        <mat-icon>score</mat-icon>&nbsp;Scores
      </button>
    </div>

    <div class="logout">
      <button (click)="openLogout()" class="blue">Logout</button>
    </div>
  </mat-drawer>
  <header>
    <button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Announcements</h1>&nbsp;
    <h1 class="dates">{{Date | date:'medium'}}</h1>
  </header>
  <div class="flex-column">
    <div class="con">
      <button (click)="openAddAnnouncement()" class="blue-save" type="submit">
        <mat-icon inline="true">add</mat-icon>&nbsp;Add Announcement
      </button>

      <div class="flex-column">
        <div class="con">
          <h1><mat-icon>list</mat-icon>&nbsp;List of Announcements</h1>
        </div>
        <mat-card *ngIf="!announcements">
          <h2>
            <mat-icon> cancel_presentation</mat-icon>&nbsp;No announcements
            created yet!
          </h2>
        </mat-card>

        <div *ngIf="announcements">
          <mat-card *ngFor="let announcement of announcements">
            <div class="flex-row">
              <img
                *ngIf="announcement.img"
                src="{{ announcement.img }}"
                style="width: 100px; height: 100px"
              />
              <div style="margin-right: auto">
                <h2>{{ announcement.title }}</h2>
              </div>

              <button (click)="viewAnnouncePost(announcement)" class="red-view">
                <mat-icon>remove_red_eye</mat-icon> &nbsp;
                <p>view</p>
              </button>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>
