<head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
  </style>
</head>
<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" opened="true">
    <div class="flex-row end-obj">
      <button class="button-44 none" (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="center">
      <img src="assets/img/student/no-pic-user.png" *ngIf="!profile.img" />
      <img appLazyLoad src="{{ profile.img }}" *ngIf="profile.img" />
    </div>

    <div class="user" *ngIf="profile.firstname">
      Hello {{ profile.firstname }}!
    </div>
    <div class="user" *ngIf="!profile.firstname">Loading..</div>

    <div class="profile">
      <button (click)="toTeacher()" class="red">
        <mat-icon>home</mat-icon>&nbsp; Home
      </button>
      <button (click)="toClasses()" class="red">
        <mat-icon>home</mat-icon>&nbsp; Classes
      </button>
      <button (click)="toMasterList()" class="red">
        <mat-icon>list</mat-icon>&nbsp; Master List
      </button>
      <button (click)="toEnrollees()" class="red">
        <mat-icon>list</mat-icon>&nbsp; Enrollees
      </button>
      <button class="blue">
        <mat-icon>announcement</mat-icon>&nbsp; Announcement
      </button>
      <button (click)="toActivityPost()" class="red">
        <mat-icon> attach_file</mat-icon>&nbsp; Post Activity
      </button>
      <button (click)="toScore()" class="red">
        <mat-icon>score</mat-icon>&nbsp; Scores
      </button>
    </div>

    <div class="logout">
      <button (click)="openLogout()" class="blue">Logout</button>
    </div>
  </mat-drawer>
  <header>
    <button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Announcements</h1>
    &nbsp;
    <h1 class="dates">{{ Date | date: "medium" }}</h1>
  </header>
  <div class="flex-column">
    <div class="con">
      <button (click)="openAddAnnouncement()" class="blue-save" type="submit">
        <mat-icon inline="true">add</mat-icon>&nbsp;Add Announcement
      </button>
      <div class="flex-column">
        <div class="con">
          <h1><mat-icon>list</mat-icon>&nbsp;List of Announcements</h1>
        </div>

        <img
          class="loading"
          *ngIf="isLoading"
          src="assets/img/loading/loading.gif"
        />
        <h2 *ngIf="isLoading">Loading ...</h2>

        <h2 *ngIf="isEmpty">
          <mat-icon> cancel_presentation</mat-icon>&nbsp;No announcements
          created yet!
        </h2>

        <div *ngIf="announcements">
          <mat-card *ngFor="let announcement of announcements">
            <div class="flex-row">
              <img
                *ngIf="announcement.img"
                src="{{ announcement.img }}"
                style="width: 100px; height: 100px"
              />
              <div style="margin-right: auto">
                <h2>{{ announcement.title }}</h2>
              </div>

              <button (click)="viewAnnouncePost(announcement)" class="red-view">
                <mat-icon>remove_red_eye</mat-icon> &nbsp;
                <p>view</p>
              </button>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>
