<head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
  </style></head
><mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" opened="true">
    <div class="row end-obj">
      <button class="button-44 none" (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="center">
      <img src="assets/img/student/no-pic-user.png" *ngIf="!profile.img" />
      <img appLazyLoad src="{{ profile.img }}" *ngIf="profile.img" />
    </div>

    <div class="user">Hello {{ profile.firstname }}!</div>

    <div class="profile">
      <button (click)="toDashboard()" class="red">
        <mat-icon>home</mat-icon> Dashboard
      </button>
      <button (click)="toAddAnnouncement()" class="red">
        <mat-icon>announcement</mat-icon> Announcement
      </button>
      <button (click)="toYears()" class="red">
        <mat-icon>calendar_today</mat-icon> Academic Year
      </button>
      <button class="blue">
        <mat-icon> chat_bubble</mat-icon> Suggestions
      </button>
    </div>

    <div class="logout">
      <button (click)="openLogout()" class="blue">Logout</button>
    </div>
  </mat-drawer>
  <header>
    <button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <h1>Suggestions</h1>
  </header>

  <div class="flex-column">
    <div class="flex-row">
      <div class="flex-column">
        <mat-card *ngFor="let suggestion of suggestions">
          <div class="flex-column">
            <h2>
              {{ suggestion.message }}
            </h2>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</mat-drawer-container>
