<mat-drawer-container>
  <div class="con">
    <button mat-raised-button (click)="goBack()">Back</button>
    <div class="flex-column center">
      <div class="flex-row">
        <img id="hide" src="assets/img/rhymes/rhymes-1.jpg" alt="" />
        <img src="assets/img/rhymes/rhymes-monkey.jpg" alt="" />
        <img
          id="hide"
          src="assets/img/rhymes/rhymes-time.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="flex-row">
      <mat-card>
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/RE29EUeJAb0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card>
        <iframe
          src="https://www.youtube.com/embed/buE6l32rCHo"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card>
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/ooNXmfIo4GE"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card>
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/X6rzXuQMASY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
    </div>

    <div class="flex-row">
      <mat-card>
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/1Ue1qsu4yxI"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card>
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/qfnceI0H-yc"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card>
        <iframe
          src="https://www.youtube.com/embed/Rj2QkLaaj2E"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card>
        <iframe
          src="https://www.youtube.com/embed/r8iGnwD8i9I"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
    </div>
  </div>
</mat-drawer-container>
