<mat-drawer-container>
  <header>
    <button mat-raised-button class="btn" (click)="goBack()">&nbsp;Back</button>
    <h1 class="title">Nursery Activities</h1>
  </header>

  <div class="con">
    
    <div class="flex-column center">
<img id="hide" src="assets/Nursery Rhymes.png" alt="" />
     
    </div>
<br>
    <div class="main">
      <mat-card class="card">
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/RE29EUeJAb0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card class="card">
        <iframe
          src="https://www.youtube.com/embed/buE6l32rCHo"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card class="card">
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/5jNAMLB0heQ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card class="card">
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/X6rzXuQMASY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
    </div>
<br>
    <div class="main">
      <mat-card class="card">
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/1Ue1qsu4yxI"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card class="card">
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/qfnceI0H-yc"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card class="card">
        <iframe
          src="https://www.youtube.com/embed/Rj2QkLaaj2E"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card class="card">
        <iframe
          src="https://www.youtube.com/embed/r8iGnwD8i9I"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
    </div>
  </div>
</mat-drawer-container>
