<header>
  <button mat-raised-button class="btn" (click)="back()">&nbsp;Back</button>
  <h1 class="title">Activity</h1>
</header>
<div class="con">
  <div class="flex-row con center">
    <mat-card>
      <div class="con">
        <div class="flex-row">
          <div>
            <div class="flex">
              <h1 class="text">{{ title }}</h1>
            </div>
          </div>
          <img src="assets/img/activities/book.png" />
        </div>
        <a href=""></a>
        <h2><b class="ins">Instructions:</b> {{ description }}</h2>
        <div *ngIf="url" class="center">
          <div [innerHTML]="url"></div>
        </div>
        <hr />
        <div>
          <a
            *ngIf="file_name"
            mat-button
            class="button-1"
            [href]="file"
            download="{{ file_name }}"
            >Download</a
          >
          <input
            (change)="setPDF($event)"
            type="file"
            name="file"
            id="file"
            class="inputfile"
          />
          <label for="file">
            <mat-icon inline="true"> attach_file</mat-icon> Attach your
            activity</label
          >
          <br /><br />
          <button (click)="sendPDF()" *ngIf="submit" class="button-red">
            <mat-icon inline="true">send</mat-icon> Submit
          </button>
        </div>
        <div
          *ngFor="let complete of completed"
          class="completed-con flex-column"
        >
          <mat-card class="flex-row">
            <h4 class="filename">
              {{ complete.file_name }}
              &nbsp;
            </h4>
            <button mat-raised-button (click)="remove(complete)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card>
        </div>
      </div>
    </mat-card>
  </div>
</div>
