a {
  text-decoration: none;
  font-size: 16px;
}

.center {
  display: flex;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
}

h1 {
  font-size: 30px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h4 {
  max-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1,
h2,
h3,
h4,
p,
button,
div {
  font-family: 'Bubblegum Sans', cursive;
}

.description-con {
  width: fit-content;
}

img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.activity-container {
  background-color: #ffff;
}

#title {
  width: 300px;
  overflow: auto;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #ff2e63;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}

.inputfile:focus+label,
.inputfile+label:hover {
  background-color: #08d9d6;
}

.completed-con {
  width: auto;
}

mat-card {
  width: fit-content;
}

.button-red {
  text-decoration: none;
  color: #ffff;
  padding: 10px;
  background-color: #ff2e63;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.filename {
  color: #df033a;
}

header {
  display: flex;
  background-color: #252a34;
  color: #ffff;
}

.title {
  margin-top: 20px;
  margin-left: 20px;
}

.btn {
  font-size: large;
  font-weight: 700;
  margin: 10px;
}
.text{
  font-weight: 600;
}
@media (max-width: 800px) {

  iframe {
    height: 200px !important;
  }

  .center {
    display: flex;
    padding-top: 30px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    justify-content: baseline !important;
    text-align: left !important;
    align-items: baseline !important;
  }

  h2 {
    font-size: 18px;
  }

  img {
    width: auto;
    height: auto;
  }

  .con {
    width: 250px;
  }

  .flex-row {
    width: 200px;
  }
}

@media (max-height: 680px) {
  .profile button {
    width: auto;
  }
}

@media (max-height: 570px) {
  .profile button {
    width: auto;
    height: auto;
  }
}
