<head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
  </style>
</head>
<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" opened="true">
    <div class="flex-row end-obj">
      <button class="button-44 none" (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="center">
      <img src="assets/img/student/no-pic-user.png" *ngIf="!profile.img" />
      <img appLazyLoad src="{{ profile.img }}" *ngIf="profile.img" />
    </div>

    <div class="user" *ngIf="profile.firstname">
      Hello {{ profile.firstname }}!
    </div>
    <div class="user" *ngIf="!profile.firstname">Loading..</div>
    <div class="profile">
      <button class="blue"><mat-icon>home</mat-icon>&nbsp; Home</button>
      <button (click)="toClasses()" class="red">
        <mat-icon>home</mat-icon>&nbsp; Classes
      </button>
      <button (click)="toMasterList()" class="red">
        <mat-icon>list</mat-icon>&nbsp; Master List
      </button>
      <button (click)="toEnrollees()" class="red">
        <mat-icon>list</mat-icon>&nbsp; Enrollees
      </button>
      <button (click)="toAnnouncementPost()" class="red">
        <mat-icon>announcement</mat-icon>&nbsp; Announcement
      </button>
      <button (click)="toActivityPost()" class="red">
        <mat-icon>attach_file</mat-icon>&nbsp; Post Activity
      </button>
      <button (click)="toScore()" class="red">
        <mat-icon>score</mat-icon>&nbsp; Scores
      </button>
      <button (click)="toArchive()" class="red">
        <mat-icon>delete</mat-icon>&nbsp; Archive
      </button>
    </div>

    <div class="logout">
      <button (click)="openLogout()" class="blue">Logout</button>
    </div>
  </mat-drawer>
  <header>
    <button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <h1>Dashboard</h1>
    &nbsp;
    <h1 class="dates">{{ Date | date: "medium" }}</h1>
  </header>
  <div class="flex-column">
    <div class="flex-row">
      <mat-card>
        <img src="assets/img/admin/students.png" />
        &nbsp;
        <div class="flex-column">
          <h1>No. Students</h1>
          <div class="center">
            <div *ngIf="!totalStudents">
              <h2 class="numbers">0</h2>
            </div>
            <div *ngIf="totalStudents">
              <h2 class="numbers">{{ totalStudents }}</h2>
            </div>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <img src="assets/img/admin/enrollee.png" />
        <div class="flex-column">
          <h1>No. Enrollees</h1>
          <div class="center">
            <div *ngIf="!totalEnrollees">
              <h2 class="numbers">0</h2>
            </div>
            <div *ngIf="totalEnrollees">
              <h2 class="numbers">{{ totalEnrollees }}</h2>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <section class="section-right">
      <div class="flex-row">
        <div class="flex-column con">
          <div class="flex-row-end">
            <input
              [(ngModel)]="search"
              (input)="searchStudents()"
              type="text"
              name="search"
              id="search"
              placeholder="Search"
              class="search_input"
            />
            <button class="search">
              <mat-icon>search</mat-icon>
            </button>
          </div>
          <img
            class="loading"
            *ngIf="isLoading"
            src="assets/img/loading/loading.gif"
          />
          <h2 *ngIf="isLoading">Loading ...</h2>
          <div class="card-table">
            <div class="con">
              <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Address</th>
                    <th>Contact No</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <div *ngIf="isEmpty" class="center">
                    <h2>
                      <mat-icon> cancel_presentation</mat-icon>&nbsp;No
                      Students!
                    </h2>
                  </div>

                  <tr
                    *ngFor="
                      let student of students
                        | paginate
                          : {
                              itemsPerPage: 3,
                              currentPage: page,
                              totalItems: totalStudents
                            }
                    "
                  >
                    <td>
                      <img
                        *ngIf="student.img"
                        src="{{ student.img }}"
                        style="width: 50px; height: 50px"
                      />
                      &nbsp; {{ student.firstname }} &nbsp;
                      {{ student.lastname }}
                    </td>
                    <td>{{ student.type }}</td>
                    <td>{{ student.address }}</td>
                    <td>{{ student.phone }}</td>
                    <td class="flex-row">
                      <button (click)="toEditUsers(student)" class="blue">
                        <mat-icon>edit</mat-icon> edit
                      </button>
                      &nbsp;
                      <button (click)="updateToEnrollee(student)" class="red">
                        <mat-icon>delete</mat-icon> Enrollee
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="center" *ngIf="students">
            <pagination-controls
              *ngIf="totalStudents > 3"
              class="my-pagination"
              (pageChange)="page = $event"
            ></pagination-controls>
          </div>
        </div>
        <div *ngIf="isEmpty" class="mobile center">
          <h2><mat-icon> cancel_presentation</mat-icon>&nbsp;No Students!</h2>
        </div>
        <div
          class="card-students flex-column"
          *ngFor="
            let student of students
              | paginate
                : {
                    itemsPerPage: 3,
                    currentPage: page,
                    totalItems: totalStudents
                  }
          "
        >
          <mat-card>
            <div class="con flex-column">
              <h2>{{ student.firstname }} &nbsp; {{ student.lastname }}</h2>
              <h3>{{ student.type }}</h3>
              <h3>{{ student.address }}</h3>
              <h3>{{ student.phone }}</h3>
              <div class="flex-row">
                <button (click)="toEditUsers(student)" class="blue">
                  <mat-icon>edit</mat-icon> edit
                </button>
                <button (click)="updateToEnrollee(student)" class="red">
                  <mat-icon>delete</mat-icon> Enrollee
                </button>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </section>
  </div>
</mat-drawer-container>
