<head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
  </style>
</head>
<header>
  <button mat-raised-button class="btn" (click)="goBack()">
    <mat-icon>keyboard_backspace</mat-icon> Back
  </button>
  <h1 class="title">TERMS AND SERVICES</h1>
</header>

<div>
  <div class="content">
    <h1>Usage Granted By Embed Codes</h1>
    <p>
      According to YouTube’s Terms of Service (which applies to all users,
      including content providers), YouTube grants permission to access and use
      the site, provided that “you agree not to distribute in any medium any
      part of the Service or Content without YouTube’s prior written permission,
      unless YouTube makes available the means for such distribution through
      functionality offered by the Service (such as the Embeddable Player).”
    </p>
    <br />
    <p>
      Said another way: When anyone uploads a video to YouTube, the person
      enters into a royalty-free licensing agreement with YouTube that grants
      certain public usage rights, depending on how a creator enables a video.
    </p>
    <br />
    <p>
      If a video creator leaves the embed functionality enabled for a video,
      that person has agreed to allow other people to share that video on other
      mediums (including websites) without YouTube’s prior written permission
      according to YouTube’s Terms of Service.
    </p>
    <br />
    <p>
      If a video creator, on the other hand, disables embed functionality for a
      video, that person does not grant public use of a video, and per YouTube’s
      Terms of Service, anyone wishing to share that video on any medium would
      require prior written permission from YouTube.
    </p>
    <br />
    <p>
      To sort which videos you can use, simply click a video’s Share button to
      see whether the embed functionality has been enabled. After that, YouTube
      still has a few more usage conditions.

      <br /><br />-You agree not to access YouTube content through any other
      technology or means, other than a video’s embed code, the video playback
      pages of YouTube or any other authorized means that YouTube may designate.
      <br /><br />
      -You agree not to modify, build on or impair any of the embed
      functionality, including the links back to the YouTube website.
    </p>
    <br /><br />
    <h1>Copyright Restrictions</h1>

    <p>
      While YouTube grants certain public usage of videos through its Terms of
      Service, YouTube acknowledges and supports copyright ownership by video
      creators.
    </p>
    <p>
      Falling under Intellectual Property Rights, copyright is a legal right
      existing the U.S. and Canada (and many other countries around the world)
      that grants exclusive rights to the creator of an original work, including
      the conditions under which a work may be used. While video creators
      relinquish certain usage rights after uploading a video to YouTube, video
      creators remain the owners of their work. As such, video creators retain
      economic rights (the right to sell their work, either outright or in
      residual fashion such as paid access through streaming) and moral rights.
    </p>
    <br /><br />
    <h2>Moral Rights</h2>
    <p>
      Also known as authorship rights, moral rights comprise a creator’s rights
      to three things: <br />
      <br />1.The Right of Credit or Association guarantees that all creators
      receive authorship credit in any future presentation of their work. <br />
      2.The Right of Integrity guarantees that a creator’s work shall
      fundamentally remain in the same state in which it was created. The right
      further guarantees that a creator can stop a work from being distorted,
      mutilated, modified or used in association with a product, service, cause
      or institution while also guaranteeing a creator’s right to change a work
      at any point. <br />3.The Right of Anonymity or Context guarantees that a
      creator can decide how a work is used—even if the creator is not the
      copyright holder.
    </p>
  </div>
</div>
