<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" opened="true">
    <div class="flex-row end-obj">
      <button class="button-44 none" (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="center">
      <img
        src="../../assets/img/signup/user.jpg"
        *ngIf="!profile.img"
        class="img"
      />
      <img
        appLazyLoad
        src="{{ profile.img }}"
        *ngIf="profile.img"
        class="img"
      />
    </div>


    <div class="user" *ngIf="profile.firstname">Hello {{ profile.firstname }}!</div>
    <div class="user" *ngIf="!profile.firstname">Loading..</div>

    <div class="profile">
      <button (click)="toStudent()" class="red">
        <mat-icon>home</mat-icon>&nbsp;Dashboard
      </button>
      <button (click)="toActivities()" class="red">
        <mat-icon>list</mat-icon>&nbsp;Activities
      </button>
      <button (click)="toAnnouncement()" class="red">
        <mat-icon>announcement</mat-icon>&nbsp;Announcement
      </button>
      <button (click)="toSoe()" class="red-active">
        <mat-icon>calendar_today</mat-icon>&nbsp;SOE
      </button>
      <button (click)="openSettings()" class="red">
        <mat-icon>settings</mat-icon>&nbsp;Settings
      </button>
    </div>
    <div class="logout" (click)="openLogout()">
      <button class="blue">&nbsp;Logout</button>
    </div>
  </mat-drawer>
  <header>
    <button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <h1>Calendar of Activities</h1>
  </header>

  <div class="card-table">
    <div class="con">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Venue</th>
            <th>Activities</th>
          </tr>
        </thead>
        <tbody>
          <div *ngIf="!soe" class="center">
            <h2><mat-icon> cancel_presentation</mat-icon>&nbsp;No Data!</h2>
          </div>
          <tr *ngFor="let soe of soe">
            <td style="width: 200px">{{ soe.date | date: "fullDate" }}</td>
            <td>{{ soe.time }}</td>
            <td>{{ soe.venue }}</td>
            <td>{{ soe.activities }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card-soe flex-column" *ngFor="let soe of soe">
    <div class="center">
      <mat-card>
        <div class="con flex-column">
          <h2>{{ soe.date | date: "fullDate" }}</h2>
          <h3>{{ soe.time }}</h3>
          <h3>{{ soe.venue }}</h3>
          <h3>{{ soe.activities }}</h3>
        </div>
      </mat-card>
    </div>
  </div>
</mat-drawer-container>
