<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" opened="true">
    <div class="flex-row end-obj">
      <button class="button-44 none" (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="center">
      <img src="assets/img/signup/user.jpg" *ngIf="!profile.img" />
      <img appLazyLoad src="{{ profile.img }}" *ngIf="profile.img" />
    </div>

    <div class="user" *ngIf="profile.firstname">
      Hello {{ profile.firstname }}!
    </div>
    <div class="user" *ngIf="!profile.firstname">Loading..</div>

    <div class="profile">
      <button (click)="toTeacher()" class="red">
        <mat-icon>home</mat-icon>&nbsp; Home
      </button>
      <button (click)="toClasses()" class="red">
        <mat-icon>home</mat-icon>&nbsp; Classes
      </button>
      <button (click)="toMasterList()" class="red">
        <mat-icon>list</mat-icon>&nbsp; Master List
      </button>
      <button (click)="toEnrollees()" class="red">
        <mat-icon>list</mat-icon>&nbsp; Enrollees
      </button>
      <button (click)="toAnnouncementPost()" class="red">
        <mat-icon>announcement</mat-icon>&nbsp; Announcement
      </button>
      <button (click)="toActivityPost()" class="red">
        <mat-icon>attach_file</mat-icon>&nbsp; Post Activity
      </button>
      <button (click)="toScore()" class="blue">
        <mat-icon>score</mat-icon>&nbsp; Scores
      </button>
    </div>

    <div class="logout">
      <button (click)="openLogout()" class="blue">Logout</button>
    </div>
  </mat-drawer>
  <header>
    <button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <h1>Scores</h1>
    &nbsp;
    <h1 class="dates">{{ Date | date: "medium" }}</h1>
  </header>
  <div class="flex-column">
    <section class="section-right">
      <div class="flex-row">
        <div class="flex-column con">
          <div class="flex-row-end">
            <input
              [(ngModel)]="search"
              (input)="searchStudents()"
              type="text"
              name="search"
              id="search"
              placeholder="Search"
              class="search_input"
            />
            <button class="search">
              <mat-icon>search</mat-icon>
            </button>
          </div>

          <img
            class="loading"
            *ngIf="isLoading"
            src="assets/img/loading/loading.gif"
          />
          <h2 *ngIf="isLoading">Loading ...</h2>

          <div class="card-table">
            <div class="con">
              <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Total Score</th>
                    <th>Activity Title</th>
                    <th>Stud No.</th>
                  </tr>
                </thead>
                <tbody>
                  <div *ngIf="!students" class="center">
                    <h2>
                      <mat-icon> cancel_presentation</mat-icon>&nbsp;No Scores
                      Yet!
                    </h2>
                  </div>
                  <tr
                    *ngFor="
                      let student of students
                        | paginate
                          : {
                              itemsPerPage: 6,
                              currentPage: page,
                              totalItems: totalStudents
                            }
                    "
                  >
                    <td>
                      {{ student.firstname }} &nbsp; {{ student.lastname }}
                    </td>
                    <td>{{ student.score }}</td>
                    <td>{{ student.total_score }}</td>
                    <td>{{ student.title }}</td>
                    <td>{{ student.student_id }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="center" *ngIf="students">
            <pagination-controls
              *ngIf="totalStudents > 6"
              class="my-pagination"
              (pageChange)="page = $event"
            ></pagination-controls>
          </div>
        </div>

        <div class="mobile">
          <div *ngIf="isEmpty" class="center">
            <h2>
              <mat-icon> cancel_presentation</mat-icon>&nbsp;No Scores Yet!
            </h2>
          </div>
          <div
            class="card-students flex-column"
            *ngFor="
              let student of students
                | paginate
                  : {
                      itemsPerPage: 2,
                      currentPage: page,
                      totalItems: totalStudents
                    }
            "
          >
            <mat-card>
              <div class="con flex-column">
                <h2>{{ student.firstname }} &nbsp; {{ student.lastname }}</h2>
                <h3>{{ student.type }}</h3>
                <h3>{{ student.address }}</h3>
                <h3>{{ student.phone }}</h3>
                <div class="flex-row">
                  <button (click)="updateToEnrollee(student)" class="red">
                    <mat-icon>delete</mat-icon> Enrollee
                  </button>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </section>
  </div>
</mat-drawer-container>
