.profile {
  display: flex;
  padding: 20px;
  margin-bottom: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile mat-icon {
  font-size: 30px;
}

.profile button {
  width: 150px !important;
  height: 70px !important;
  margin: 5px;
  border-radius: 30px !important;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  border: 5px solid white !important;
  font-family: 'Bubblegum Sans', cursive !important;

}

.profile mat-icon {
  font-size: 30px;
}

.blue-save {
  display: flex;
  background-color: #08d9d6;
  width: auto;
  padding: 20px;
  height: fit-content;
  border: none;
  margin: 5px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.logout button {
  width: 100%;
  height: 60px;
  border: none;
  margin: 5px;
  border-radius: 30px !important;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border: 5px solid white !important;
  text-align: center;
}

mat-card {
  display: flex;
  flex: 1;
}

.mobile {
  display: none !important;
}

.loading {
  width: 30px !important;
  height: 30px !important;
}

header {
  display: flex;
  background-color: #252a34;
  color: #ffff;
}

.download {
  text-decoration: none;
  background-color: #ff2e63;
  width: 100%;
  padding: 10px;
  border: none;
  margin: 5px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

header button {
  background-color: transparent;
  color: #fff;
  height: 60px;
  border: none;
  margin: 5px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

header button:hover {
  background-color: #353a46;
}

header h1 {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
}

.user {
  color: white;
  text-align: center;
  font-weight: 700px;
  letter-spacing: 3px;
  margin-top: 20px;
}

.center {
  display: flex;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.section-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.none {
  display: none;
}

.end-obj {
  margin: auto;
  display: flex;
  align-items: flex-end;
}

.logout {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
}

.logout {
  padding: 20px;
}

.logout button {
  width: 100%;
  height: 60px;
  border: none;
  margin: 5px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

button:hover {
  background-color: transparent;
  color: white;
}

.loading {
  margin-top: 50px;
  margin-left: 400px;
}

.red {
  background-color: #ff2e63;
  width: 100%;
  height: 60px;
  border: none;
  margin: 5px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.blue {
  background-color: #08d9d6;
  width: 100%;
  height: 60px;
  border: none;
  margin: 5px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.button-44 {
  opacity: 0.3;
  background: #e62143;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: none;
  font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, "Roboto Slab",
    "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
  font-size: 1.15em;
  font-weight: 700;
  justify-content: center;
  line-height: 33.4929px;
  padding: 0.8em 1em;
  text-align: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
  text-underline-offset: 1px;
  transition: all 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  word-break: break-word;
  border: 0;
}

.button-44:active,
.button-44:focus {
  border-bottom-style: none;
  border-color: #dadada;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px inset;
  outline: 0;
}

.button-44:hover {
  border-bottom-style: none;
  border-color: #dadada;
}

.card-table {
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffff;
  margin: 10px;
  height: 500px;
  overflow: auto;
}

table {
  border-collapse: collapse;
  font-size: 18px;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

td {
  padding: 10px;
  text-align: center;
}

th {
  padding: 20px;
  text-align: center;
  background-color: #353a46;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.card-students {
  display: none;
  margin-bottom: 30px;
}

.dates {
  margin-left: auto;
  font-size: 20px;
  padding-right: 10px !important;
}

@media (max-width: 800px) {
  .mobile {
    display: block !important;
  }

  .dates {
    display: none !important;
  }

  .loading {
    width: 30px !important;
    height: 30px !important;
  }

  .container,
  .section-right {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .blue,
  .red {
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  header {
    width: 100%;
    padding: 0px;
  }

  .card-table {
    display: none;
  }

  .card-students {
    display: block;
    background-color: #fff;
    padding-bottom: 10px;
    width: auto;
  }

  .section-right {
    margin-top: 30px;
  }

  .col,
  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .profile,
  .logout {
    margin: 0px;
  }

  .to-top {
    display: block;
  }

  .button-44 {
    display: block;
  }
}

@media (max-height: 680px) {

  .profile,
  .logout {
    margin: 0px;
    padding: 0px;
  }

  .profile button,
  .logout button {
    width: auto;
  }
}

@media (max-height: 570px) {

  .profile,
  .logout {
    margin: 0px;
    padding: 0px;
  }

  .profile button,
  .logout button {
    width: auto;
    padding: 0px;
    height: 40px;
  }
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}
