<mat-drawer-container>
  <div class="con">
    <button mat-raised-button (click)="goBack()">Back</button>
    <div class="flex-column center">
      <div class="flex-row">
        <img
          id="hide"
          src="assets/img/stories/story-kids.jpg"
          alt=""
        />
        <img src="assets/img/stories/story-fox.jpg" alt="" />
        <img
          id="hide"
          src="assets/img/stories/story-time.png"
          alt=""
        />
      </div>
    </div>
    <div class="flex-row">
      <mat-card>
        <iframe
          src="https://www.youtube.com/embed/23_mESawEEc"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card>
        <iframe
          src="https://www.youtube.com/embed/hmsziGXgoJg"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card>
        <iframe
          src="https://www.youtube.com/embed/3bNu4PmMAeI"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card>
        <iframe
          src="https://www.youtube.com/embed/3OpOFTTTlrA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
    </div>
    <div class="flex-row">
      <mat-card>
        <iframe
          src="https://www.youtube.com/embed/l5FKpT7QxM0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card>
        <iframe
          src="https://www.youtube.com/embed/OSWLxj4kTKA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card>
        <iframe
          src="https://www.youtube.com/embed/N8HEbKzlgYU"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card>
        <iframe
          src="https://www.youtube.com/embed/wYwxYYbcsaI"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
    </div>
  </div>
</mat-drawer-container>
