<mat-drawer-container>
  <header>
    <button mat-raised-button class="btn" (click)="goBack()">&nbsp;Back</button>
    <h1 class="title">Stories </h1>
  </header>
 
  <div class="con">
   
    <div class="flex-column center">
      
       <img
          id="hide"
          src="assets/Story Telling.png"
          alt=""
        />
    </div>
    <br>
    <div class="main">
      <mat-card class="card">
        <iframe
          src="https://www.youtube.com/embed/23_mESawEEc"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card class="card">
        <iframe
          src="https://www.youtube.com/embed/LeiOhsORPUo"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card class="card">
        <iframe
          src="https://www.youtube.com/embed/UFHlma3JALQ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card class="card">
        <iframe
          src="https://www.youtube.com/embed/3OpOFTTTlrA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
    </div>
    <br>
    <div class="main">
      <mat-card class="card">
        <iframe
          src="https://www.youtube.com/embed/l5FKpT7QxM0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card class="card">
        <iframe
          src="https://www.youtube.com/embed/OSWLxj4kTKA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card class="card">
        <iframe
          src="https://www.youtube.com/embed/N8HEbKzlgYU"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card class="card">
        <iframe
          src="https://www.youtube.com/embed/wYwxYYbcsaI"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
    </div>
  </div>
  <footer>  
    <div class="titlefooter" >
       <h2 (click)="toterms()"  class="terms">Terms of Service</h2>
    </div>
  </footer>
</mat-drawer-container>
