body {
  margin-right: 300px;
  background-color: #caebea;
  background-image: url("/assets/img/background/body.png");
  /* background-image: url(/assets/3.jpg); */
  background-repeat: no-repeat;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.pushable {
  background: #d32551;
  border: none;
  border-radius: 12px;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  width: 8em;
  font-weight: bold;
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 2.25rem;
  background: #ff2e63;
  color: white;
  transform: translateY(-6px);
}
.pushable:active .front {
  transform: translateY(-2px);
}

.pushable2 {
  background: #0bc0bd;
  border: none;
  border-radius: 12px;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front2 {
  width: 8em;
  font-weight: bold;
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 2.25rem;
  background: #08d9d6;
  color: white;
  transform: translateY(-6px);
}
.pushable2:active .front2 {
  transform: translateY(-2px);
}

.container {
  display: flex;
  margin-top: 100px;
}
.container1 {
  width: 50%;
  height: 50%;
  margin-left: 40px;
}
.container2 {
  margin-top: 10px;
  margin-left: 50px;
  width: 50%;
  height: 50%;
  padding: 100px;
}
.develop {
  font-size: 20px;
  font-weight: 200px;
  margin-left: 10px;
}
.title {
  color: white;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  text-shadow: 5px 5px 2px rgb(94, 94, 94);
}
.image {
  width: 500px;
}
@media (max-width: 680px) {
  .container {
    margin-top: 40px;
    display: block;
  }
  .container1 {
    margin-top: 1px;
    margin-left: 60px;
  }
  .container2 {
    padding: 1px;
    margin-left: 20px;
  }
  .image {
    width: 200px;
  }
  .title {
    padding: 10px;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
  }
}
@keyframes slideInFromBottom {
  0% {
    overflow: hidden;
    transform: translateY(100%);
  }
  100% {
    overflow: hidden;
    transform: translateY(0);
  }
}
