<body>
  <head>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
    </style>
  </head>
  <div class="container">
    <div class="container1">
      <img src="assets/icon.png" class="image" />
    </div>

    s

    <div class="container2">
      <style>
        .pushable:focus:not(:focus-visible) {
          outline: none;
        }
      </style>
      <button class="pushable" (click)="login()">
        <span class="front"> Log In </span></button
      ><br /><br />
      <style>
        .pushable:focus:not(:focus-visible) {
          outline: none;
        }
      </style>

      <button class="pushable2" (click)="register()" (click)="BtnSound()">
        <span class="front2"> Enroll Now! </span></button
      ><br /><br />

      <span class="develop"
        ><mat-icon>people</mat-icon> Developed by: Team LogiDev</span
      >
    </div>
  </div>
</body>
