<body>
  <div>
    <br><br><br>
    <!-- <h1 class="title">Child Development Learners Portal</h1> -->
  </div>

  <div class="container">
    <div class="container1">
      <img src="assets/icon.png" class="image" />
    </div>

    <div class="container2">
      <style>
        /* The CSS we saw earlier is still
           * being applied. It's tucked into
           * the "CSS" tab above.
           */

        .pushable:focus:not(:focus-visible) {
          outline: none;
        }
      </style>

      <button class="pushable" (click)="login()">
        <span class="front"> Log In </span></button
      ><br /><br />

      <style>
        /* The CSS we saw earlier is still
           * being applied. It's tucked into
           * the "CSS" tab above.
           */

        .pushable:focus:not(:focus-visible) {
          outline: none;
        }
      </style>

      <button class="pushable2" (click)="register()" (click)="BtnSound()">
        <span class="front2"> Enroll Now! </span></button
      ><br /><br />

      <span class="develop">Developed by Team LogiDev</span>
    </div>
  </div>
</body>
