<head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
  </style>
</head>
<body>
  <div id="container">
    <div class="header">
      <h1><mat-icon>person_add</mat-icon> Student Enrollment</h1>
    </div>
    <form (submit)="register($event)">
      <div class="card">
        <div class="photo">
          <h2>{{ year.year }}</h2>
          <div class="img-container">
            <div *ngIf="!active" class="center container">
              <img src="assets/img/student/no-pic-user.png" *ngIf="!active" />
              <button
                *ngIf="!active"
                class="button"
                (click)="file.click()"
                type="button"
              >
                <mat-icon>camera_alt</mat-icon>
              </button>
            </div>

            <div class="center container">
              <img src="{{ photo }}" *ngIf="active" />
              <button *ngIf="active" class="button" (click)="file.click()">
                <mat-icon>camera_alt</mat-icon>
              </button>
            </div>
          </div>
          <div class="img-bottom">
            <input
              #file
              type="file"
              class="custom-file-input"
              style="
                width: 200px;
                background-color: transparent;
                border: transparent;
              "
              (change)="setPhoto($event)"
            />
            <input
              type="file"
              class="custom-psa-input"
              style="
                width: 200px;
                background-color: transparent;
                border: transparent;
              "
              (change)="setPSA($event)"
            /><br /><span style="margin-left: 50px; font-style: italic"
              >(max. 3MB file only)</span
            >
          </div>
        </div>
        <div class="form">
          <h1>Parent/ Guardian Information</h1>
          <div class="flex-column">
            <input
              id="parentname"
              type="text"
              placeholder="parent/guardian name"
              required
            />
          </div>
          <hr />
          <h1>Student Information</h1>
          <div class="flex-row">
            <div class="flex-column">
              <input
                id="firstname"
                type="text"
                placeholder="first name"
                required
              />
            </div>
            <div class="flex-column">
              <input
                id="middlename"
                type="text"
                placeholder="middle name"
                required
              />
            </div>
          </div>
          <div class="flex-row">
            <div class="flex-column">
              <input
                name="lastname"
                type="text"
                placeholder="last name"
                required
              />
            </div>
          </div>
          <hr />
          <div class="row-2">
            <div class="row-2-container-3">
              <p><i class="fas fa-venus-mars"></i></p>
              <div class="row-2-container-4">
                <h2>Gender</h2>
                <div class="row-2-container-2">
                  <input
                    type="radio"
                    value="boy"
                    id="boy"
                    name="gender"
                    required
                  />
                  <label for="boy">Male</label>
                  <input
                    type="radio"
                    value="girl"
                    id="girl"
                    name="gender"
                    required
                  />
                  <label for="girl">Female</label>
                </div>
              </div>
            </div>
            <div class="row-2-container-5">
              <p><i class="fas fa-birthday-cake"></i></p>
              <div class="row-2-container-4">
                <h2>Birthdate</h2>
                <input name="birthdate" type="date" id="birthdate" required />
              </div>
            </div>
          </div>
          <hr />
          <div class="row-2">
            <p><i class="fas fa-phone-alt"></i></p>
            <div class="row-2-container-4">
              <h2>Phone Number</h2>
              <input
                name="phone"
                onkeydown="javascript: return event.keyCode == 69 ? false : true"
                type="number"
                placeholder="phone number"
                required
              />
            </div>
            <p><i class="fas fa-address-card"></i></p>
            <div class="row-2-container-4">
              <h2>Address</h2>
              <input
                name="address"
                type="address"
                placeholder="address"
                required
              />
            </div>
          </div>
          <hr />
          <div class="row-2">
            <p><i class="fas fa-envelope-square"></i></p>
            <div class="row-2-container-4">
              <h2>Email</h2>
              <input
                [(ngModel)]="email"
                (input)="getUser()"
                name="email"
                type="email"
                placeholder="username"
                required
              />
            </div>
            <p><i class="fas fa-key"></i></p>
            <div class="row-2-container-4">
              <h2>Password</h2>
              <div class="flex-row">
                <input
                  name="password"
                  type="{{ password }}"
                  placeholder="password"
                  required
                />
                <button
                  (click)="passwordToggle()"
                  *ngIf="viewpass"
                  class="submit"
                  style="width: fit-content; padding: 10px !important"
                >
                  <mat-icon>remove_red_eye</mat-icon>
                </button>

                <button
                  (click)="passwordToggle()"
                  *ngIf="hidepass"
                  class="return"
                  style="width: fit-content; padding: 10px !important"
                >
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <hr />
          <div>
            <button class="return" type="button" (click)="goBack()">
              cancel
            </button>
            <button class="submit" type="submit">register now</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>
