<head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
  </style>
</head>

<mat-drawer-container autosize>
  <audio *ngIf="staticUrlArray" autoplay="" src="./assets/bgmusic.mp3"></audio>
  <mat-drawer #drawer mode="side" opened="true">
    <div class="flex-row end-obj">
      <button class="button-44 none" (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="center">
      <img src="assets/img/student/no-pic-user.png" *ngIf="!profile.img" />
      <img *ngIf="profile.img" appLazyLoad src="{{ profile.img }}" />
    </div>

    <div class="user" *ngIf="profile.firstname">
      Hello {{ profile.firstname }}!
    </div>
    <div class="user" *ngIf="!profile.firstname">Loading..</div>

    <div class="profile">
      <button (click)="toStudent()" class="red-active">
        <mat-icon>home</mat-icon>&nbsp; Home
      </button>
      <button (click)="toActivities()" class="red">
        <mat-icon>list</mat-icon>&nbsp; Activity
      </button>
      <button (click)="toAnnouncement()" class="red">
        <mat-icon>announcement</mat-icon>&nbsp; News
      </button>
      <button (click)="toSoe()" class="red">
        <mat-icon>calendar_today</mat-icon>&nbsp; Soe
      </button>
      <button (click)="openSettings()" class="red">
        <mat-icon>settings</mat-icon>&nbsp; Settings
      </button>
    </div>
    <div class="logout" (click)="openLogout()">
      <button class="blue"> &nbsp;Logout</button>
    </div>
  </mat-drawer>
  <header>
    <button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <h1>Student Dashboard</h1>
  </header>
  <div class="flex-column">
    <div class="flex-row">
      <div class="flex-column">
        <section class="section-right">
          <div class="flex-row">
            <div class="flex-column">
              <mat-card (click)="toTracing()" class="contentcard">
                <h1 class="center">
                  <mat-icon> border_color</mat-icon>Tracing Form
                </h1>
                <img class="end-obj" src="assets/img/student/tracing.png" />
              </mat-card>
              <mat-card
                style="margin: 10px"
                (click)="toAlphabet()"
                class="contentcard"
              >
                <h1 class="center">
                  <mat-icon>sort_by_alpha</mat-icon>ABC Alphabet
                </h1>
                <img class="end-obj" src="assets/img/student/alphabet.png" />
              </mat-card>
              <mat-card
                style="margin: 10px"
                (click)="toRhymes()"
                class="contentcard"
              >
                <h1 class="center">
                  <mat-icon>volume_up</mat-icon>Nursery Rhymes
                </h1>
                <img class="end-obj" src="assets/img/student/nursery.png" />
              </mat-card>
            </div>

            <div class="flex-column">
              <mat-card
                style="margin: 10px"
                (click)="toColoring()"
                class="contentcard"
              >
                <h1 class="center"><mat-icon>color_lens</mat-icon>Coloring</h1>
                <img class="end-obj" src="assets/img/student/coloring.png" />
              </mat-card>
              <mat-card
                style="margin: 10px"
                (click)="toNumbers()"
                class="contentcard"
              >
                <h1 class="center">
                  <mat-icon> format_list_numbered</mat-icon> Numbers
                </h1>
                <img class="end-obj" src="assets/img/student/numbers.png" />
              </mat-card>
              <mat-card
                style="margin: 10px"
                (click)="toStories()"
                class="contentcard"
              >
                <h1 class="center">
                  <mat-icon>library_books</mat-icon> Story Telling
                </h1>
                <img
                  class="end-obj"
                  src="assets/img/student/storytelling.png"
                />
              </mat-card>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</mat-drawer-container>
