<head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
  </style>
</head>
<header>
  <button mat-raised-button class="btn" (click)="goBack()">
    <mat-icon>keyboard_backspace</mat-icon> Back
  </button>
  <h1 class="title">Privacy & Policy</h1>
</header>
<div class="content">
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel id="toggle-1" title="Information We Collect">
      <ng-template ngbPanelContent>
        <p>
          Once you grant permission for your child to have a CDLP account or
          profile, their account or profile will generally be treated like your
          own with respect to the information that we collect. For example, we
          collect:
        </p>
      </ng-template>
    </ngb-panel>
    <ngb-panel
      id="toggle-2"
      title="Information you and your child create or provide to us."
    >
      <ng-template ngbPanelContent>
        <p>
          As part of the account or profile creation process, we may ask for
          personal information like first and last name, email address, and
          birthdate. We collect the information you or your child provide, such
          as your online contact details, which are necessary for us to contact
          you to request consent. We also collect the information your child
          creates, uploads, or receives from others when using their account or
          profile, such as when your child saves a picture in activities
          section.
        </p>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="toggle-3" title="Your child’s apps, browsers & devices">
      <ng-template ngbPanelContent>
        <p>
          We collect information about the apps, browsers, and devices your
          child uses to access CDLP APP, including unique identifiers, browser
          type and settings, device type and settings, operating system, mobile
          network information including carrier name and phone number, and
          application version number. We also collect information about the
          interaction of your child’s apps, browsers, and devices with our
          services, including IP address, crash reports, system activity, and
          the date, time, and referrer URL of your child’s request. For example,
          we collect this information when a CDLP app on your child’s device
          contacts our servers, like when they install on browsers.
        </p>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="toggle-4" title="Your child’s activity">
      <ng-template ngbPanelContent>
        <p>
          We collect information about your child’s activity in our services,
          which we use to do things like recommend apps they might like on
          Google Play. You can choose whether your child can manage their
          activity controls. Your child’s activity information that we collect
          may include things like search terms, videos they watch, voice and
          audio information when they use audio features, people with whom they
          communicate or share content, and Chrome browsing history they’ve
          synced with their Google Account.
          <br />
          We use various technologies to collect and store your child’s
          information, including cookies, pixel tags, local storage, such as
          browser web storage or application data caches, databases, and server
          logs. We do not require your child to provide more personal
          information than is reasonably necessary to use the Google products
          and services available for these accounts or profiles.
        </p>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="toggle-5" title="How We Use Information We Collect">
      <ng-template ngbPanelContent>
        <p>
          CDLP Privacy Policy explains in greater detail how we may use the data
          CDLP collects in association with your child’s CDLP Account or
          profile. In general, we use your child’s information: to provide,
          maintain, and improve our services; to develop new services; to
          customize our services for your child; to measure performance and
          understand how our services are used; to communicate directly with
          your child in relation to our services; and to help improve the safety
          and reliability of our services.
          <br /><br />
          We use different technologies to process your child’s information for
          these purposes. We use automated systems that analyze your child’s
          content to provide them with things like customized search results or
          other features tailored to how they use our services. And we analyze
          your child’s content to help us detect abuse such as spam, malware,
          and illegal content. We also use algorithms to recognize patterns in
          data. When we detect spam, malware, illegal content, and other forms
          of abuse on our systems in violation of our policies, we may disable
          their account or profile or take other appropriate action. In certain
          circumstances, we may also report the violation to appropriate
          authorities.
          <br /><br />
          We may use your child’s information to provide recommendations,
          personalized content, and customized search results. For example,
          depending on your child’s settings.
          <br /><br />
          CDLP will not serve personalized ads to your child, which means ads
          will not be based on information from your child’s account or profile.
          Instead, ads may be based on information like the content of the
          website or app your child is viewing, the current search query, or
          general location (such as city or state).
        </p>
      </ng-template>
    </ngb-panel>
    <ngb-panel
      id="toggle-6"
      title="Access to Your Child’s Personal Information"
    >
      <ng-template ngbPanelContent>
        <p>
          If your child has a CDLP Account, you can access, update, remove,
          export, and restrict the processing of your child’s information by
          signing into their CDLP Account. If you do not remember your child’s
          password, you can request to admin to reset it. Once signed in, you
          can use the various controls described in the CDLP Privacy Policy,
          such as CDLP activity controls, to help manage your child’s privacy
          settings and information. <br /><br />
          Your child will have the ability to edit their past activity in “My
          Activity,” and by default grant app permissions (including things like
          device location, microphone, or contacts) to third parties. If at any
          time you wish to stop further collection or use of your child's
          information, you can request to disable your child’s CDLP Account or
          profile by requesting to administrator via email. on your child’s
        </p>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="toggle-7" title="Contact Us">
      <ng-template ngbPanelContent>
        <p>
          If you have any questions about your child’s CDLP Account or profile,
          don’t hesitate to contact us. We’re here to help. You can also send us
          feedback about your child’s CDLP Account or profile in the contacting
          us by email or at the address below.

          <br /><br />
          Email: officialteamlogidev@gmail.com<br />
          Facebook: https://www.facebook.com/CDLP.official
          <br /><br />
          If you have questions about how CDLP collects and uses your child’s
          data, you can contact CDLP. You can also contact your local data
          protection authority if you have concerns regarding your rights under
          local law.
        </p>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
