<div class="center">
  <div class="con">
    <mat-card>
      <div class="con">
        <img src="assets/img/student/logout.png" alt="" />
      </div>
      <mat-dialog-content>
        <h1>Are you sure?</h1>
      </mat-dialog-content>
      <div mat-dialog-actions class="center">
        <button mat-raised-button [mat-dialog-close] (click)="logout()">
          Yes
        </button>
        <button mat-raised-button [mat-dialog-close] (click)="closeDialog()">
          No
        </button>
      </div>
    </mat-card>
  </div>
</div>
