<head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
  </style>
</head>
<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side">
    <div class="flex-row end-obj">
      <button class="button-44 none" (click)="drawer.toggle()">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="center">
      <img *ngIf="!user.img" src="assets/img/student/no-pic-user.png" />
      <img *ngIf="user?.img" appLazyLoad src="{{ user?.img }}" />
    </div>
    <div class="user">Hello {{ user?.firstname }}!</div>
    <div class="profile">
      <button class="blue"><i class="fas fa-user"></i> &nbsp;Dashboard</button>
    </div>
    <div class="logout" (click)="logout()">
      <button class="blue" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>&nbsp;Logout
      </button>
    </div>
  </mat-drawer>

  <div class="flex-column">
    <header>
      <button *ngIf="open" (click)="drawer.toggle()">
        <i class="fas fa-bars"></i>
      </button>
      <h1>Guest Dashboard</h1>
    </header>

    <section class="section-right" (click)="drawer.toggle()">
      <div class="con">
        <h2>Request Pending....</h2>
        <div class="center flex-row">
          <img
            class="img-body"
            src="assets/img/background/guest.gif"
            alt=""
          />
        </div>
      </div>
    </section>
  </div>
</mat-drawer-container>
