<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" opened="true">
    <div class="flex-row end-obj">
      <button class="button-44 none" (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="center">
      <img
        src="../../assets/img/signup/user.jpg"
        *ngIf="!profile.img"
        class="img"
      />
      <img
        appLazyLoad
        src="{{ profile.img }}"
        *ngIf="profile.img"
        class="img"
      />
    </div>
    <div class="user">Hello {{ profile.firstname }}!</div>
    <div class="profile">
      <button (click)="toStudent()" class="red">
        <mat-icon>home</mat-icon>&nbsp;Dashboard
      </button>
      <button (click)="toActivities()" class="red-active">
        <mat-icon>list</mat-icon>&nbsp;Activities
      </button>
      <button (click)="toAnnouncement()" class="red">
        <mat-icon>announcement</mat-icon>&nbsp;Announcement
      </button>
      <button (click)="toSoe()" class="red">
        <mat-icon>calendar_today</mat-icon>&nbsp;SOE
      </button>
      <button (click)="openSettings()" class="red">
        <mat-icon>settings</mat-icon>&nbsp;Settings
      </button>
    </div>
    <div class="logout" (click)="openLogout()">
      <button class="blue">&nbsp;Logout</button>
    </div>
  </mat-drawer>
  <header>
    <button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <h1>Student Activities</h1>
  </header>
  <div class="flex-column">
    <div class="flex-row">
      <div class="flex-column">
        <div class="con">
          <div id="row">
            <div class="flex-column">
              <br />
              <mat-card *ngIf="!modules">
                <h2>
                  <mat-icon> cancel_presentation</mat-icon>&nbsp;No modules!
                </h2>
              </mat-card>
              <mat-list *ngFor="let module of modules">
                <mat-list-item>
                  <div id="title">
                    <h2>
                      <mat-icon>insert_drive_file</mat-icon> {{ module.title }}
                    </h2>
                  </div>
                  <div *ngFor="let complete of arr">
                    <h2>{{ complete.score }} / {{ module.total_score }}</h2>
                    <div *ngIf="module.id === complete.file_id">
                      <mat-icon id="check">check_circle</mat-icon>
                      Done
                    </div>
                  </div>
                  &nbsp;
                  <button (click)="goToActivity(module)" class="button-end">
                    <mat-icon inline="true">remove_red_eye</mat-icon> &nbsp;
                    <p>view</p>
                  </button>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="flex-column">
              <div id="accomplished">
                <img
                  src="assets/img/activities/teacher-kids.jpg"
                  class="img-bg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>
