<mat-drawer-container>
  <div class="con">
    <button mat-raised-button (click)="goBack()">Back</button>
    <div class="flex-column center">
      <div class="row">
        <img id="hide" src="assets/img/numbers/123-kids.jpg" alt="" />
        <img src="assets/img/numbers/123-croc.jpeg" alt="" />
        <img id="hide" src="assets/img/numbers/123-train.jpg" alt="" />
      </div>
    </div>

    <div class="flex-row">
      <mat-card>
        <iframe
          src="https://www.youtube.com/embed/glkQwKA5_PU"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card>
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/mjlsSYLLOSE"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card>
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/rGMecZ_aERo"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card>
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/qM7B2nwpV1M"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
    </div>

    <div class="flex-row">
      <mat-card>
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/eW2dRLyoyds"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card>
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/igcoDFokKzU"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card>
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/n0FZhQ_GkKw"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
      <mat-card>
        <iframe
          width="942"
          height="530"
          src="https://www.youtube.com/embed/rOtWO94ld3o"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </mat-card>
    </div>
  </div>
</mat-drawer-container>
