<header><h2 mat-dialog-title>Add Activity</h2></header>
<mat-card>
  <form (submit)="addActivity($event)">
    <label>Activity Title</label>
    <input name="title" placeholder="Activity 1" />
    <label>Instructions</label>
    <textarea name="description" placeholder="Description"></textarea>
    <!-- <label>Total Score</label>
    <input type="number" name="total_score" placeholder="100" /> -->
    <label>Video Embed</label> &nbsp; <a href="https://youtu.be/yKf-ZSiH_4E" target="_blank">how to embed video?</a>
    <input
      type="url"
      name="video_url"
      placeholder='<iframe src="https://drive.google.com/file/d/1-nMPdAGKUUoKuTjzSKKc_sxzNamSznQ_/preview"
      width="640"
      height="480"
      allow="autoplay"
    ></iframe
    >'
    />
    <div class="flex-column">
      <label>Dealine of Activity</label>
      <input name="deadline" type="date" class="input" />
      <input
        type="file"
        class="custom-file-input"
        style="width: 200px; background-color: transparent; border: transparent"
        (change)="setPDF($event)"
      />
    </div>
    <div class="flex-column">
      <button class="save" type="submit">
        <mat-icon>check_circle</mat-icon>&nbsp;Save
      </button>
    </div>
  </form>
</mat-card>
